{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="center-div">
    <div class="containeur-form-register">
        <h1>Inscription</h1>
        <div class="section">
        {{ form_start(registrationForm ) }}
        <div class="firs-last">
            {{ form_row(registrationForm.firstname, { 'row_attr': {'class': 'custom-register'} } ) }}
            {{ form_row(registrationForm.lastname , { 'row_attr': {'class': 'custom-register'} }) }}
        </div>
            {{ form_row(registrationForm.email, { 'row_attr': {'class': 'custom-register'} }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe', 'row_attr': {'class': 'custom-register'} 
            }) }}
            {{ form_row(registrationForm.imageFile, { 'row_attr': {'class': 'custom-register-img'} }) }}
            {{ form_row(registrationForm.agreeTerms, { 'row_attr': {'class': 'custom-register-agree'} }) }}
            
            <button type="submit" class="btn-submit">Valider</button>
            {{ form_end(registrationForm) }}
    </div>
    </div>
</div>
{% endblock %}
