<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}All dev long{% endblock %}</title>
        <script src="https://kit.fontawesome.com/c5e216e624.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/app.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
    </head>
    <body>
        {{include ('_header.html.twig')}}
        {% block body %}
        
        {% endblock %}
        {{include ('_footer.html.twig')}}
    </body>
</html>
